nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    // border-bottom: 0.9px solid rgb(86, 83, 83);
    // box-shadow: 0 0 10px rgba(0,0,0,0.89);
    background: steelblue;
    // color: pink;
    // color: rgb(245, 205, 181);
    color: white;
    font-size: 1.2rem;

    .leftSide {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-out;
    
            img {
                width: 60px;
                height: 60px;
                margin-right: 15px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,0.89);
            }
    
            &:hover {
                color: rgba(51, 51, 51, 0.9);
            }
        }

        .addPoetry {
            padding-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}